body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background: #f5f5f5;
  color: #333;
}

h1 {
  color: #095e46;
}

#status {
  font-weight: bold;
  color: red;
}

.button {
  border: none;
  color: white;
  padding: 14px 35px;
  font-size: 32px;
  cursor: pointer;
  margin: 20px;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.on {
  background-color: yellowgreen;
}

.off {
  background-color: gray;
}
